/* Google Material Symbols */

@font-face {
	font-family: "Material Symbols Rounded";
	font-style: normal;
	font-weight: 100 1000;
	font-display: swap;
	src: url("../../sources/fonts/MaterialSymbolsRounded[FILL\,GRAD\,opsz\,wght].woff2") format("truetype-variations");
}
.material-symbols-rounded {
	font-family: "Material Symbols Rounded";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga";
	vertical-align: text-bottom;
	font-variation-settings:
		"FILL" 0,
		"GRAD" 0,
		"opsz" 48;
}
/* Bootstrap Icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@font-face {
	font-family: bootstrapIcon;
	src: url(../fonts/bootstrap-icons.woff);
}

/* Livvic */

/* Livvic Thin */
@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

/* Livvic ExtraLight */
@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}

/* Livvic Light */
@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

/* Livvic Regular / Medium */
@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

/* Livvic SemiBold */
@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

/* Livvic Bold */
@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

/* Livvic Black */
@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Livvic";
	src: url("../../sources/fonts/Livvic-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

/* Open Sans */

@font-face {
	font-family: "OpenSans";
	src:
		url("../../sources/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("woff2 supports variations"),
		url("../../sources/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("woff2-variations");
	font-weight: 100 1000;
	font-style: normal;
}
@font-face {
	font-family: "OpenSans";
	src:
		url("../../sources/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("woff2 supports variations"),
		url("../../sources/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("woff2-variations");
	font-weight: 100 1000;
	font-style: italic;
}
