/* --- ABAS --- */

.aba {
	--_tab-background-color: var(--fio-sys-color-primary-80);
	--_tab-color: var(--fio-sys-color-primary-10);
	--_tab-border-color: var(--fio-sys-color-primary-80);
	--_tab-border-width: var(--fio-sys-size-stroke-sm);
	--_tab-border-radius: var(--fio-sys-size-radius-md);
	--_tab-border-color-hover: var(--fio-sys-color-primary-20);

	--_tab-background-color-active: var(--fio-sys-color-primary-30);
	--_tab-color-active: var(--fio-sys-color-primary-100);
	--_tab-border-color-active: var(--fio-sys-color-primary-90);

	--_content-background-color: var(--fio-sys-color-primary-90);
	--_content-border-color: var(--fio-sys-color-primary-90);
	--_content-border-width: var(--fio-sys-size-stroke-sm);
	--_content-border-radius: var(--fio-sys-size-radius-lg);
}

.aba .nav {
	background-color: var(--_tab-background-color);
	border-radius: var(--_tab-border-radius);
}

.aba .nav.nav-fill .nav-item {
	width: 50%;
}
.aba .nav.nav-fill .nav-item .nav-link {
	display: block;
	padding: var(--fio-sys-size-padding-sm) var(--fio-sys-size-padding-xs);
	color: var(--_tab-color);
	text-decoration: none;
	transition:
		color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}
.aba .nav.nav-pills .nav-link.active,
.aba .nav.nav-pills .show > .nav-link {
	color: var(--_tab-color-active);
	background-color: var(--_tab-background-color-active);
	border-color: var(--_tab-border-color-active);
	border-width: var(--_tab-border-width);
	border-style: solid;
	border-radius: var(--_tab-border-radius);
}
/* .aba .nav .nav-link:focus, */
.aba .nav .nav-link:hover {
	color: var(--_tab-color);
	border-color: var(--_tab-border-color-hover);
	border-radius: var(--_tab-border-radius);
	border-width: var(--_tab-border-width);
}

.aba .tab-content {
	background-color: var(--_content-background-color);
	border-color: var(--_content-border-color);
	border-width: var(--fio-sys-size-stroke-sm);
	border-style: solid;
	border-radius: var(--_content-border-radius);
	padding: var(--fio-sys-size-padding-lg);
}

.aba .tab-pane-content {
	padding: 20px!important;
}

.aba .tab-pane-content p{
	font-size: var(--fio-sys-typography-size-0);
}

@media (min-width: 768px) {
	.aba .nav {
		border-radius: var(--_tab-border-radius);
	}
	.aba .nav.nav-fill .nav-item {
		width: auto;
	}
}
